<img
  src='https://st.app.ontracktechgroup.com/assets/img/Condensed-App-Icon-1.svg'
  style='border-radius:50%; height:20%; width: 20%; display:block; margin:0 auto; '
/>

<b>{{message}}</b>

<p>
  Event Name:
  <b>{{name}}</b>
</p>
<p>
  Company:
  {{company}}
</p>
<p>
  Event Dates:
  {{eventDates}}
</p>