<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <div class='row'>
      <div class='col-md-4'>
        <p>
          Event:
          {{event}}<br />
          Company:
          {{company}}<br />
          Preset:
          {{preset}}<br />
          No. of Attachments:
          {{attachments}}<br />
        </p>
      </div>
    </div>
  </body>

</html>