.form-card {
    background-color: white;
    padding: 2.5rem 1.25rem;
    box-shadow: 0rem 0rem 1.25rem var(--blue-shadow-dark);
    border-radius: 0.5rem;
    max-width: 37.375rem;
    margin: 0 auto;
}