.rs-logo-container {
  position: fixed;
  z-index: 1000;
  bottom: 77.5%;
  left: -1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: left 0.3s ease;
}

.rs-bar {
  background: linear-gradient(45deg, #ef3a24, #1a4895, #faca2a);
  width: 1rem;
  height: 1.875rem;
  margin-right: 0.2rem; /* Space between bar and logo */
  cursor: pointer;
  transition: all 0.3s ease;
}

.rs-bar:hover {
  width: 1.3rem; /* You can adjust the size if needed */
}

.rs-logo-container:hover {
  left: 0rem;
}

.rs-logo-container:hover .rs-bar {
  width: 1.3rem; /* Ensures bar stays visible on hover */
}

.rs-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rs-extension-main {
  position: fixed;
  border: 1rem solid transparent;
  bottom: 1vh;
  left: -5rem;
  display: flex;
  height: 100%;
  z-index: 900;
  /* max-height: calc(45rem - 1rem); */
  max-height: 85vh;
  overflow: hidden;
  border-radius: 0.625rem;
  transition: left 0.3s ease;
}

.rs-extension-bar {
  padding: 1.25rem 0.625rem 0.8rem 0.625rem;
  border-radius: 0.625rem;
  background: #28303f;
  width: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  position: relative;
  z-index: 1;

  &::-webkit-scrollbar {
    display: none;
  }
}

.rs-extension-bar ul {
  list-style-type: none;
  margin-top: 1rem;
}

.rslogo {
  border-bottom: 0.125rem solid #8a9bac;
  padding-bottom: 1.25rem;
  margin-bottom: 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #28303f;
}

.rs-ext-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rs-ext-bottom {
  border-top: 0.125rem solid #8a9bac;
  padding-top: 0.6rem;
}

.rs-li-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #48566f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.rs-li-icon-container:hover {
  background-color: #5865f2 !important;
  border-radius: 20% !important;
}

.rs-li-icon-container-ai:hover {
  background-color: #5865f2 !important;
  border-radius: 20% !important;
}

.rs-li-icon-container-ai {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #48566f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.rs-active-tab {
  background-color: #5865f2 !important;
  border-radius: 20% !important;
}


.rs-user-name-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  display: inline-block;
  margin-bottom: 1rem;
  background-color: #5865f2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.rs-user-name-icon-container:hover {
  background-color: #5865f2 !important;
  border-radius: 20% !important;
}


.rs-user-name {
  color: white !important;
}

.rs-user-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rs-user-name-icon-container1 {
  display: flex;
  align-items: center;
  /* Center align items vertically */
  justify-content: center;
}

.rs-bidder-style {
  display: inline-block;
}

.rs-user-name1 {
  position: relative;
  /* Change from absolute to relative positioning */
  margin-left: 0.5rem;
  /* Adjust the margin as per your preference */
  text-decoration: none !important;
  color: white !important;
  cursor: pointer;
  background-color: #5865f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.rs-login-badge {
  position: absolute;
  top: 75%;
  /* Adjust the top position as needed */
  /* right: -5px;  */
  background-color: #5865f2;
  color: #fff;
  font-size: 10px;
  padding: 3px 4px;
  border-radius: 20%;
}

.rs-exit-menu li a {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.25rem;
  background: #6a7888;
  display: flex;
  align-items: center;
  /* padding-right: 10px !important; */
  justify-content: center;
  margin: 0.7rem 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s linear;
}

.rs-ext-menu li:hover,
.rs-ext-menu li.active a {
  border-radius: 0.625rem;
}

.rs-extension-detail-block {
  background-color: #343e50;
  border-radius: 0 1rem 1rem 0rem;
  width: 27.5rem;
  position: relative;
  transition: 0.3s linear;
  left: -0.5rem;
  color: #fff;
  font-size: 0.9rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  max-height: 85vh;
}

.rs-extension-detail-block2 {
  background-color: #343e50;
  border-radius: 0 1rem 1rem 0rem;
  width: 27.5rem;
  position: relative;
  left: -0.5rem;
  color: #fff;
  font-size: 0.9rem;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  display: none;
  max-height: 85vh;
  transition: opacity 0.3s ease, border-radius 0.3s ease;
}

.transparent-rs-extension-detail-block {
  background-color: transparent;
  border-radius: 0 1rem 1rem 0rem;
  width: 12.5rem;
  position: relative;
  left: -0.5rem;
  color: #fff;
  font-size: 0.9rem;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  max-height: 85vh;
  display: none;
}

.rs-extension-detail-block strong {
  font-weight: 600;
}

.rs-extension-detail-head {
  border-radius: 0rem 1rem 0rem 0rem;
  padding: 1rem 1.25rem 1rem 1.5rem;
  background: #28303f;
  align-items: center;
  color: #fff;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
}

.rs-extension-detail-body {
  padding: 1rem 1.25rem 1rem 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 85vh;
}

.rs-extension-detail-body h3 {
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}

.rs-custom-field-div {
  margin: 0.8rem 0;
}

.rs-custom-field-input {
  border-radius: 10px;
  border: 1.5px solid #12161d;
  background: #28303f !important;
  color: #fff !important;
  width: 100%;
  height: 40px;
  outline: none;
}
.rs-custom-field-div .css-dev-only-do-not-override-19iuou {
  background: #28303f !important;
  color: white !important;
}


.rs-custom-field-input-otherPage {
  border-radius: 10px;
  border: 1.5px solid #12161d;
  background: #28303f;
  color: #fff;
  width: 92%;
  height: 40px;
  outline: none;
  padding: 0 15px;
}

.rs-custom-field-div .css-dev-only-do-not-override-19iuou::placeholder,
.rs-custom-field-input::placeholder {
  color: #4c5c78;
  opacity: 1;
}
.rs-custom-field-div .css-dev-only-do-not-override-19iuou::-ms-input-placeholder,
.rs-custom-field-input::-ms-input-placeholder { 
  color: #4c5c78;
}
.rs-custom-field-div .css-dev-only-do-not-override-19iuou::placeholder,
.rs-custom-field-input-otherPage::placeholder {
  color: #4c5c78;
  opacity: 1;
}

.rs-custom-field-div .css-dev-only-do-not-override-19iuou::-ms-input-placeholder,
.rs-custom-field-input-otherPage::-ms-input-placeholder { 
  color: #4c5c78;
}

.rs-sign-google,
.rs-sign-in {
  border-radius: 0.625rem;
  background: #5865f2;
  border: 1px solid #5865f2;
  color: #fff !important;
  height: 2.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  position: relative;
  margin: 0.5rem 0;
  text-decoration: none !important;
  cursor: pointer;
}

.rs-sign-google {
  &::after {
    content: "";
    height: 1.875rem;
    width: 1.875rem;
    background: url("../images/googleIcon-sm.png") no-repeat;
    background-size: 1.2rem;
    background-position: center;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 1.25rem;
    border-radius: 0.5rem;
  }
}

.rs-errorMsg {
  color: red;
  font-size: 13px;
}

.custom-rs-search-div {
  margin: 0.8rem 0;
  position: relative;
}

.custom-rs-search-div .rs-custom-search-input {
  border-radius: 10px;
  border: 1px solid #28303f;
  background: #28303f;
  color: #fff;
  width: 100%;
  height: 40px;
  outline: none;
  padding: 0 15px;
  padding-right: 38px;
}

.custom-rs-search-div .rs-custom-search-input-portfolio {
  border-radius: 10px;
  border: 1px solid #5865f2;
  background: #28303f;
  color: #fff;
  width: 100%;
  height: 40px;
  outline: none;
  padding: 0 15px;
  padding-right: 38px;
}

.custom-rs-search-div .rs-search-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: default;
}

.rs-search-icon-tags {
  position: absolute;
  right: 18px;
  bottom: 10px;
  cursor: default;
}

.rs-custom-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #28303f;
  background: #28303f;
  color: #fff;
  width: 100%;
  height: 40px;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
}

.rs-custom-div-open {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #5865f2;
  background: #5865f2;
  color: #fff;
  width: 100%;
  height: 40px;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* The following line sets the bottom-left and rs-bottom-right corners to have no radius (square) */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rs-the-tags-container {
  /* justify-content: space-between; */
  border: 1px solid #2c354d;
  background: #2c354d;
  color: #fff;
  width: 100%;
  min-height: 100px;
  max-height: 150px;
  overflow: auto;
  outline: none;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* The following line sets the bottom-left and rs-bottom-right corners to have no radius (square) */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rs-container-of-tags {
  display: flex;
  flex-wrap: wrap;
}

.explore-rs-tags-container {
  /* justify-content: space-between; */
  border: 1px solid #2c354d;
  background: #2c354d;
  color: #fff;
  width: 100%;
  min-width: 100px;
  max-height: 350px;
  overflow: auto;
  outline: none;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.explore-rs-the-tags-container {
  display: flex;
  flex-wrap: wrap;
}

.rs-tags-tag {
  padding: 4px 9px 4px 9px;
  border-radius: 29px;
  margin-right: 8px;
  cursor: pointer;
  margin-bottom: 7px;
  font-size: 13px;
  background: #28303f;
  min-width: 70px;
  text-align: center;
}

.selected-rs-tags-tag {
  padding: 4px 9px 4px 9px;
  border-radius: 29px;
  margin-right: 8px;
  cursor: pointer;
  margin-bottom: 7px;
  font-size: 13px;
  background: #5865f2;
  min-width: 70px;
  text-align: center;
}

.the-selected-rs-tags-tag {
  padding: 4px 9px 4px 9px;
  border-radius: 29px;
  margin-right: 8px;
  cursor: pointer;
  margin-bottom: 7px;
  font-size: 13px;
  background: #5865f2;
  min-width: 70px;
  text-align: center;
}

.rs-loading-circle {
  width: 50px;
  height: 50px;
  border: 4px solid transparent;
  border-top: 4px solid #3498db;
  /* Change the color as needed */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.rs-loading-btn-circle {
  width: 35px;
  height: 35px;
  border: 4px solid transparent;
  border-top: 4px solid white;
  /* Change the color as needed */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rs-central-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rs-selectedTagsTag {
  /* display : inline; */
}

.rs-selectedTagsTagHover {
  display: none;
}

.selected-rs-tags-tag:hover .rs-selectedTagsTag {
  display: none;
}

.selected-rs-tags-tag:hover .rs-selectedTagsTagHover {
  display: block;
}

.selected-rs-tags-tag:active .rs-selectedTagsTag {
  display: none;
}

.selected-rs-tags-tag:active .rs-selectedTagsTagHover {
  display: block;
}

.selected-rs-tags-tag:focus .rs-selectedTagsTag {
  display: none;
}

.selected-rs-tags-tag:focus .rs-selectedTagsTagHover {
  display: block;
}

.rs-search-div {
  position: relative;
}

.rs-search-box {
  position: absolute;
  border: 1px solid #2f394a;
  background: #28303f;
  border-radius: 10px;
  min-height: 4rem;
  max-height: 9rem;
  overflow: scroll;
  padding: 10px;
  width: 100%;
  top: 85%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: default;
  z-index: 1;
}

.rs-portfolios-container {
  border: 1px solid #2c354d;
  background: #2c354d;
  color: #fff;
  width: 100%;
  min-height: 100px;
  max-height: 170px;
  overflow: auto;
  outline: none;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.the-rs-portfolios-container {
  display: flex;
  flex-wrap: wrap;
}

.rs-portfolios-table {
  overflow: auto;
}

.rs-custom-table {
  width: 100%;
  border-collapse: collapse;
}

.rs-custom-table thead {
  padding-right: 100px;
}

.rs-custom-table th {
  padding: 0;
  text-align: center;
  font-size: 12px;
}

.rs-first-heading {
  width: 65%;
  padding-left: 1.5rem !important;
  text-align: left !important;
}

.rs-custom-table td {
  padding: 0;
  text-align: center;
  font-size: 14px;
  padding: 0.5rem 0;
  border-bottom: 1px solid #373e56;
}

.rs-left-align {
  text-align: left !important;
  padding-left: 1.5rem;
}

/* Checkbox container and styling */
/* checkbox container */
.rs-checkbox-container {
  display: block;
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.rs-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.rs-checkmark-label {
  position: absolute;
  top: 0.25rem;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #373e56;
}

/* When the checkbox is checked, add a blue background */
.rs-checkbox-container input:checked~.rs-checkmark-label {
  background-color: #5865f2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.rs-checkmark-label:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.rs-checkbox-container input:checked~.rs-checkmark-label:after {
  display: block;
}

/* Style the checkmark/indicator */
.rs-checkbox-container .rs-checkmark-label:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Create a custom checkbox */
.rs-checkmark1 {
  position: absolute;
  top: -0.25rem;
  left: 2.25rem;
  height: 15px;
  width: 15px;
  background-color: #373e56;
}

/* When the checkbox is checked, add a blue background */
.rs-checkbox-container input:checked~.rs-checkmark1 {
  background-color: #5865f2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.rs-checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.rs-checkbox-container input:checked~.rs-checkmark1:after {
  display: block;
}

/* Style the checkmark/indicator */
.rs-checkbox-container .rs-checkmark1:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Create a custom checkbox */
.rs-checkmark2 {
  position: absolute;
  top: -0.25rem;
  left: 1rem;
  height: 15px;
  width: 15px;
  background-color: #373e56;
}

/* When the checkbox is checked, add a blue background */
.rs-checkbox-container input:checked~.rs-checkmark2 {
  background-color: #5865f2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.rs-checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.rs-checkbox-container input:checked~.rs-checkmark2:after {
  display: block;
}

/* Style the checkmark/indicator */
.rs-checkbox-container .rs-checkmark2:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rs-radio-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  margin-bottom: 0.5rem;
}

/* Hide the browser's default checkbox */
.rs-radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.rs-radio-label {
  position: relative;
  height: 17px;
  width: 35px;
  background-color: #a4a6ac;
  border-radius: 15px;
  transition: background-color 0.3s;
  margin-left: 0.5rem;
}

/* Initial state of the indicator */
.rs-radio-label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 3px;
  width: 9px;
  height: 9px;
  background: white;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: left 0.3s;
}

/* When the checkbox is checked, add a blue background */
.rs-radio-container input:checked~.rs-radio-label {
  background-color: #5865f2;
}

/* Slide the indicator to the right when checked */
.rs-radio-container input:checked~.rs-radio-label:before {
  left: 23px;
}

.rs-tags-icon-container {
  margin-left: 2rem;
  background-color: #2c354d;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
}

.rs-tags-icon-container svg {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
}

.rs-tags-icon-container:hover {
  background-color: #5865f2;
}

.portfolio-rs-tags-container {
  position: relative;
  border: 1px solid #2f394a;
  background: #28303f;
  border-radius: 10px;
  min-height: 3rem;
  max-height: 12.5rem;
  overflow: hidden;
  padding: 10px;
  width: 17rem;
  left: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
  flex-wrap: wrap;
}

.portfolio-rs-tags-tag {
  padding: 4px 9px 4px 9px;
  border-radius: 29px;
  margin-right: 8px;
  cursor: pointer;
  margin-bottom: 7px;
  font-size: 11px;
  background: #2f394a;
  min-width: 70px;
  text-align: center;
}

.rs-next-back-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rs-cross-icon-hidden {
  display: none;
}

.rs-cross-icon-shown {
  display: block;
}

.rs-close-button {
  position: absolute;
  color: white;
  top: 0;
  right: 0;
}

.rs-close-button:hover {
  color: white;
}

.rs-preview-detail-block {
  background-color: #343e50;
  border-radius: 1rem;
  width: 24.5rem;
  height: 32.5rem;
  position: absolute;
  top: 15%;
  left: -45%;
  color: #fff;
  font-size: 0.9rem;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* display: none; */
}

.rs-preview-detail-head {
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 1rem 1.25rem 1rem 1.5rem;
  width: 100%;
  background: #28303f;
  align-items: center;
  color: #fff;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
}

.rs-preview-detail-body {
  background-color: #343e50;
  overflow: scroll;
  width: 100%;
  max-height: 78%;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.rs-close-button-div {
  position: relative;
}

.rs-close-button.rs-bottom-right {
  position: absolute;
  top: 29.2rem;
  right: 3%;
  background-color: #28303f;
  color: #fff;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rs-close-button.rs-bottom-right:hover {
  background-color: #384759;
}

.rs-checkbox-container-preview {
  display: block;
  position: relative;
  padding-left: 1.5rem;
  /* margin-bottom: 0.5rem; */
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.rs-checkbox-container-preview input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.rs-checkmark-label-preview {
  position: absolute;
  top: 0.25rem;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #556476;
}

.rs-checkbox-container-preview input:checked~.rs-checkmark-label-preview {
  background-color: #5865f2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.rs-checkmark-label-preview:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.rs-checkbox-container-preview input:checked~.rs-checkmark-label-preview:after {
  display: block;
}

/* Style the checkmark/indicator */
.rs-checkbox-container-preview .rs-checkmark-label-preview:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* bid preview */

.rs-bid-preview-main {
  position: fixed;
  color: white;
  bottom: 2.5rem;
  right: 0.9375rem;
}

.rs-view-bid-preview-btn {
  border: 1px solid #5865f2;
  background-color: #5865f2;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
}

.rs-view-bid-preview-btn:hover {
  border: 1px solid #5865f2;
  background-color: #5865f2;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
}

.rs-bid-preview {
  position: fixed;
  border: 1px solid transparent;
  background-color: #343e50;
  border-radius: 1rem;
  width: 32.5rem;
  bottom: 6rem;
  right: 0.9375rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 10;
  max-height: calc(40rem - 1rem);
}

.rs-bid-preview-detail-body {
  background-color: #343e50;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  border-radius: 1rem;
  font-size: 0.8125rem;
  padding: 10px;
}

.rs-template-content {
  width: 100%;
  height: 80%;
  color: white;
  background-color: #343e50 !important;
  border: 1px solid #343e50 !important;
  resize: none;
  /* Disable resizing */
  padding: 10px;
  /* Add padding for better text visibility */
}

.rs-button-container {
  position: absolute;
  bottom: 0.6rem;
  right: 1.2rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  /* Space between buttons */
}

.rs-button-container-save-template {
  position: relative;
  right: 1.2rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.rs-save-button,
.rs-done-button,
.rs-cancel-button,
.rs-back-portfolios-btn,
.rs-next-portfolios-btn {
  color: white;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rs-done-button {
  background-color: #5865f2;
  border: 1px solid #5865f2;
}

.rs-next-portfolios-btn {
  background-color: #5865f2;
  border: 1px solid #5865f2;
}

.rs-back-portfolios-btn {
  background-color: #28303f;
  border: 1px solid #28303f
}

.rs-save-button {
  background-color: #28303f;
  border: 1px solid #28303f
}

.rs-cancel-button {
  background-color: #5865f2;
  border: 1px solid #5865f2;
}

.rs-done-button:hover {
  background-color: #4a55cc;
  border-color: #4a55cc;
  color: white !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.rs-next-portfolios-btn:hover {
  background-color: #4a55cc;
  border-color: #4a55cc;
  color: white !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.rs-save-button:hover {
  background-color: #202733;
  border-color: #202733;
  color: white !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.rs-back-portfolios-btn:hover {
  background-color: #202733;
  border-color: #202733;
  color: white !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.rs-cancel-button:hover {
  background-color: #4a55cc;
  border-color: #4a55cc;
  color: white !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.rs-save-template-detail-block {
  background-color: #343e50;
  border-radius: 1rem;
  width: 26.5rem;
  max-height: 100%;
  position: absolute;
  top: 15%;
  left: -40%;
  color: #fff;
  font-size: 0.9rem;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* display: none; */
}

.rs-save-template-detail-head {
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 1rem 1.25rem 1rem 1.5rem;
  width: 100%;
  background: #28303f;
  align-items: center;
  color: #fff;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
}

.rs-save-template-field-input {
  border-radius: 10px;
  border: 1px solid #28303f;
  background: #28303f;
  color: #fff;
  width: 25rem !important;
  height: 40px;
  outline: none;
  padding: 0 15px;
}

.rs-container-of-tags-custom {
  display: flex;
  flex-wrap: wrap;
  max-height: 15.625rem;
  overflow: auto;
}

.rs-add-tags-btn {
  padding: 4px 9px 4px 9px;
  border-radius: 29px;
  margin-right: 8px;
  cursor: pointer;
  margin-bottom: 7px;
  font-size: 13px;
  background: #586783;
  min-width: 70px;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.rs-add-tags-btn:hover {
  background: #48546b;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.rs-back-icon-main-container {
  display: flex;
  justify-content: end;
  align-items: end;
}

.rs-back-icon-container {
  border: 1px solid #5865f2;
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rs-inlineBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rs-purple-line {
  border: 1px solid #5865f2;
}

.rs-logout-header {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border-bottom: 0.2rem solid #5865f2;
}

.rs-heading-area__title {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0;
  color: white;
}

.rs-heading-area__paragraph {
  margin-top: 0.5em;
  opacity: 0.8;
  margin-bottom: 0;
  color: white !important;
}

/* Card */
.rs-dash-card {
  position: relative;
  /* background-color: ; */
  border-top: 0.1875rem solid transparent;
  padding-top: 10px;
  text-align: center;
  overflow: hidden;
}

/* Card Top Border Style */
.rs-dash-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: transparent;
}


.rs-dash-card__user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  /* Add margin as per your preference */
}

.rs-user-info__icon {
  display: flex;
  font-size: 1.75rem;
  margin-right: 0.3125rem;
}

.rs-user-info__username {
  color: white;
  margin-bottom: 15px;
}

.rs-dash-card__followers-info {
  margin: 5px;
  color: #5865f2;
  background-color: #28303f;
  min-width: 150px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 2px;
}

.rs-followers-info__count {
  font-size: 3.75rem;
  margin: 0;
  color: white !important;
}

.rs-followers-info__text {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: white;
}

.rs-date-info {
  background-color: #5865f2;
  border-radius: 10px;
  color: white;
  padding: 5px 8px;
  margin-top: 10px;
}

.rs-text-white {
  color: white !important;
}

.rs-update-card {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}

.rs-update-dot {
  padding: 3px 7px 3px 7px;
  background: red;
  border-radius: 30px;
  margin-right: 7px;
}

.rs-install {
  text-decoration: underline;
  color: #0000ffa3;
}

/* select box designing */

.rs-custom-select {
  margin-top: 1rem;
  width: 100%;
}

.rs-custom-select select {
  background-color: #28303f !important;
  color: white !important;
  border-radius: 5px !important;
}

.rs-custom-select option {
  background-color: #28303f !important;
  color: white !important;
}

.rs-select-box {
  display: flex;
}

.rs-select-box-upwork {
  display: flex;
  width: 100% !important;
}

.rs-custom-select-upwork {
  width: 100% !important;
}

.rs-custom-select-upwork select {
  background-color: #28303f !important;
  color: white !important;
  border-radius: 0.5rem !important;
  padding: 0.5rem !important;
  width: 100% !important;
}

.rs-mr-10 {
  margin-right: 10px;
}

.rs-mr-20 {
  margin-right: 20px;
}

.rs-next-back-buttons-container {
  position: absolute;
  bottom: 0.6rem;
  right: 1.2rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}



.rs-next-back-disabled {
  opacity: 0.5;
  color: white !important;
  cursor: not-allowed !important;
}

.rs-user-name-icon-container2 {
  display: flex;
  align-items: center;
  /* Center align items vertically */
  justify-content: center;
}

.rs-user-name2 {
  margin-right: 0.5rem;
  /* Adjust the margin as per your preference */
  text-decoration: none !important;
  color: white !important;
  cursor: pointer;
  background-color: #5865f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.rs-inlineBlock-upwork {
  display: flex;
  justify-content: center;
}
